--
-- PostgreSQL database dump
--

\restrict 0p2qyCm3h1rUdoNKRI6jdjVR7965JnSonCwMsyQrG8WKU8MsBJfoBsOBqKMQCZp

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.accounts_user (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(150) NOT NULL,
    role character varying(20) NOT NULL,
    phone character varying(32) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO adminator;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO adminator;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO adminator;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO adminator;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO adminator;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO adminator;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_product; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.catalog_product (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    sku character varying(32) NOT NULL,
    name character varying(160) NOT NULL,
    description text NOT NULL,
    unit character varying(10) NOT NULL,
    selling_price numeric(12,2) NOT NULL,
    production_cost numeric(12,2) NOT NULL,
    reorder_threshold integer NOT NULL,
    is_active boolean NOT NULL,
    category_id uuid NOT NULL,
    overhead_pct numeric(5,2) NOT NULL,
    CONSTRAINT catalog_product_reorder_threshold_check CHECK ((reorder_threshold >= 0))
);


ALTER TABLE public.catalog_product OWNER TO adminator;

--
-- Name: catalog_productcategory; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.catalog_productcategory (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(80) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.catalog_productcategory OWNER TO adminator;

--
-- Name: catalog_rawmaterial; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.catalog_rawmaterial (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    sku character varying(32) NOT NULL,
    name character varying(160) NOT NULL,
    unit character varying(10) NOT NULL,
    unit_cost numeric(12,4) NOT NULL,
    reorder_threshold numeric(12,2) NOT NULL,
    is_active boolean NOT NULL,
    preferred_supplier_id uuid
);


ALTER TABLE public.catalog_rawmaterial OWNER TO adminator;

--
-- Name: catalog_recipeitem; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.catalog_recipeitem (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    quantity numeric(12,4) NOT NULL,
    product_id uuid NOT NULL,
    raw_material_id uuid NOT NULL
);


ALTER TABLE public.catalog_recipeitem OWNER TO adminator;

--
-- Name: catalog_supplier; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.catalog_supplier (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    contact_name character varying(120) NOT NULL,
    phone character varying(32) NOT NULL,
    email character varying(254) NOT NULL,
    address text NOT NULL,
    notes text NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.catalog_supplier OWNER TO adminator;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO adminator;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO adminator;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO adminator;

--
w-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: adminator
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO adminator;

--
-- Name: finance_asset; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_asset (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(160) NOT NULL,
    category character varying(20) NOT NULL,
    purchase_date date NOT NULL,
    purchase_cost numeric(14,2) NOT NULL,
    useful_life_months integer,
    status character varying(10) NOT NULL,
    reference character varying(80) NOT NULL,
    notes text NOT NULL,
    supplier_id uuid,
    linked_expense_id uuid,
    recorded_by_id uuid,
    CONSTRAINT finance_asset_useful_life_months_check CHECK ((useful_life_months >= 0))
);


ALTER TABLE public.finance_asset OWNER TO adminator;

--
-- Name: finance_budget; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_budget (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    month date NOT NULL,
    amount numeric(14,2) NOT NULL,
    notes text NOT NULL,
    category_id uuid NOT NULL
);


ALTER TABLE public.finance_budget OWNER TO adminator;

--
-- Name: finance_expense; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_expense (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    title character varying(160) NOT NULL,
    amount numeric(14,2) NOT NULL,
    incurred_on date NOT NULL,
    payment_method character varying(16) NOT NULL,
    reference character varying(80) NOT NULL,
    notes text NOT NULL,
    recorded_by_id uuid,
    supplier_id uuid,
    category_id uuid NOT NULL
);


ALTER TABLE public.finance_expense OWNER TO adminator;

--
-- Name: finance_expensecategory; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_expensecategory (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(80) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.finance_expensecategory OWNER TO adminator;

--
-- Name: finance_invoice; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_invoice (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    invoice_number character varying(32) NOT NULL,
    customer_name character varying(200) NOT NULL,
    customer_email character varying(254) NOT NULL,
    customer_phone character varying(32) NOT NULL,
    issue_date date NOT NULL,
    due_date date NOT NULL,
    amount numeric(14,2) NOT NULL,
    amount_paid numeric(14,2) NOT NULL,
    status character varying(20) NOT NULL,
    description text NOT NULL,
    notes text NOT NULL,
    paid_at timestamp with time zone,
    issued_by_id uuid
);


ALTER TABLE public.finance_invoice OWNER TO adminator;

--
-- Name: finance_transaction; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_transaction (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    direction character varying(8) NOT NULL,
    title character varying(160) NOT NULL,
    amount numeric(14,2) NOT NULL,
    occurred_on date NOT NULL,
    payment_method character varying(16) NOT NULL,
    counterparty character varying(160) NOT NULL,
    reference character varying(80) NOT NULL,
    notes text NOT NULL,
    recorded_by_id uuid,
    category_id uuid NOT NULL
);


ALTER TABLE public.finance_transaction OWNER TO adminator;

--
-- Name: finance_transactioncategory; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.finance_transactioncategory (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(80) NOT NULL,
    direction character varying(8) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.finance_transactioncategory OWNER TO adminator;

--
-- Name: inventory_stockitem; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.inventory_stockitem (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    kind character varying(20) NOT NULL,
    quantity numeric(14,4) NOT NULL,
    product_id uuid,
    raw_material_id uuid,
    CONSTRAINT stock_item_one_target CHECK (((((kind)::text = 'product'::text) AND (product_id IS NOT NULL) AND (raw_material_id IS NULL)) OR (((kind)::text = 'raw_material'::text) AND (product_id IS NULL) AND (raw_material_id IS NOT NULL))))
);


ALTER TABLE public.inventory_stockitem OWNER TO adminator;

--
-- Name: inventory_stockmovement; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.inventory_stockmovement (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    reason character varying(20) NOT NULL,
    quantity_delta numeric(14,4) NOT NULL,
    balance_after numeric(14,4) NOT NULL,
    reference character varying(160) NOT NULL,
    note text NOT NULL,
    created_by_id uuid,
    stock_item_id uuid NOT NULL
);


ALTER TABLE public.inventory_stockmovement OWNER TO adminator;

--
-- Name: processed_materials_processedmaterial; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_processedmaterial (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    sku character varying(32) NOT NULL,
    name character varying(160) NOT NULL,
    unit character varying(10) NOT NULL,
    yield_per_batch numeric(12,2) NOT NULL,
    unit_cost numeric(12,4) NOT NULL,
    shelf_life_hours integer NOT NULL,
    reorder_threshold numeric(12,2) NOT NULL,
    notes text NOT NULL,
    is_active boolean NOT NULL,
    overhead_pct numeric(5,2) NOT NULL,
    CONSTRAINT processed_materials_processedmaterial_shelf_life_hours_check CHECK ((shelf_life_hours >= 0))
);


ALTER TABLE public.processed_materials_processedmaterial OWNER TO adminator;

--
-- Name: processed_materials_processedmaterialbatch; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_processedmaterialbatch (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    batches numeric(12,2) NOT NULL,
    quantity_produced numeric(14,4) NOT NULL,
    cost numeric(14,2) NOT NULL,
    scheduled_for date NOT NULL,
    completed_at timestamp with time zone,
    notes text NOT NULL,
    processed_material_id uuid NOT NULL,
    created_by_id uuid
);


ALTER TABLE public.processed_materials_processedmaterialbatch OWNER TO adminator;

--
-- Name: processed_materials_processedmaterialrecipeitem; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_processedmaterialrecipeitem (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    quantity numeric(12,4) NOT NULL,
    processed_material_id uuid NOT NULL,
    raw_material_id uuid,
    sub_processed_material_id uuid,
    CONSTRAINT pm_recipe_item_exactly_one_ingredient CHECK ((((raw_material_id IS NOT NULL) AND (sub_processed_material_id IS NULL)) OR ((raw_material_id IS NULL) AND (sub_processed_material_id IS NOT NULL)))),
    CONSTRAINT pm_recipe_item_no_self_reference CHECK ((NOT ((sub_processed_material_id = processed_material_id) AND (sub_processed_material_id IS NOT NULL))))
);


ALTER TABLE public.processed_materials_processedmaterialrecipeitem OWNER TO adminator;

--
-- Name: processed_materials_processedmaterialstock; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_processedmaterialstock (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    quantity numeric(14,4) NOT NULL,
    processed_material_id uuid NOT NULL
);


ALTER TABLE public.processed_materials_processedmaterialstock OWNER TO adminator;

--
-- Name: processed_materials_processedmaterialstockmovement; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_processedmaterialstockmovement (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    reason character varying(20) NOT NULL,
    quantity_delta numeric(14,4) NOT NULL,
    balance_after numeric(14,4) NOT NULL,
    reference character varying(160) NOT NULL,
    note text NOT NULL,
    stock_id uuid NOT NULL,
    created_by_id uuid
);


ALTER TABLE public.processed_materials_processedmaterialstockmovement OWNER TO adminator;

--
-- Name: processed_materials_productprocessedmaterialusage; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.processed_materials_productprocessedmaterialusage (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    quantity numeric(12,4) NOT NULL,
    product_id uuid NOT NULL,
    processed_material_id uuid NOT NULL
);


ALTER TABLE public.processed_materials_productprocessedmaterialusage OWNER TO adminator;

--
-- Name: production_productionrun; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.production_productionrun (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    quantity numeric(12,2) NOT NULL,
    status character varying(12) NOT NULL,
    scheduled_for date NOT NULL,
    completed_at timestamp with time zone,
    cost numeric(14,2) NOT NULL,
    notes text NOT NULL,
    created_by_id uuid,
    product_id uuid NOT NULL
);


ALTER TABLE public.production_productionrun OWNER TO adminator;

--
-- Name: sales_sale; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.sales_sale (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    receipt_number character varying(32) NOT NULL,
    occurred_at timestamp with time zone NOT NULL,
    channel character varying(16) NOT NULL,
    payment_method character varying(16) NOT NULL,
    customer_name character varying(160) NOT NULL,
    customer_phone character varying(32) NOT NULL,
    subtotal numeric(14,2) NOT NULL,
    discount numeric(14,2) NOT NULL,
    total numeric(14,2) NOT NULL,
    cost_of_goods numeric(14,2) NOT NULL,
    notes text NOT NULL,
    served_by_id uuid
);


ALTER TABLE public.sales_sale OWNER TO adminator;

--
-- Name: sales_saleitem; Type: TABLE; Schema: public; Owner: adminator
--

CREATE TABLE public.sales_saleitem (
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    quantity numeric(12,2) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    unit_cost numeric(12,2) NOT NULL,
    line_total numeric(14,2) NOT NULL,
    product_id uuid NOT NULL,
    sale_id uuid NOT NULL
);


ALTER TABLE public.sales_saleitem OWNER TO adminator;

--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.accounts_user (password, last_login, is_superuser, id, email, full_name, role, phone, is_active, is_staff, date_joined) FROM stdin;
pbkdf2_sha256$870000$hcj8yABgPDgOmwZNbm1Qpj$skQDD7UzyQAK9NopWynlCYuvTuGiEhRhT91cBHtZt4o=	\N	t	7f10f466-6c15-4651-bbb7-1148733b0e1b	admin@adminator.local	Site Admin	admin		t	t	2026-05-29 08:16:31.682994+00
\.


--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: catalog_product; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: catalog_productcategory; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: catalog_rawmaterial; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: catalog_recipeitem; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: catalog_supplier; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: finance_asset; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.finance_asset (created_at, updated_at, id, name, category, purchase_date, purchase_cost, useful_life_months, status, reference, notes, supplier_id, linked_expense_id, recorded_by_id) FROM stdin;
2026-06-01 09:04:47.481712+00	2026-06-01 09:27:58.816592+00	b5dc737b-c60a-4e8b-a605-55c77c156b47	Fridge	equipment	2026-06-01	100000.00	60	active			\N	\N	7f10f466-6c15-4651-bbb7-1148733b0e1b
\.


--
-- Data for Name: finance_budget; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.finance_budget (created_at, updated_at, id, month, amount, notes, category_id) FROM stdin;
\.


--
-- Data for Name: finance_expense; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.finance_expense (created_at, updated_at, id, title, amount, incurred_on, payment_method, reference, notes, recorded_by_id, supplier_id, category_id) FROM stdin;
\.


--
-- Data for Name: finance_expensecategory; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.finance_expensecategory (created_at, updated_at, id, name, description, is_active) FROM stdin;
\.


--
-- Data for Name: finance_invoice; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.finance_invoice (created_at, updated_at, id, invoice_number, customer_name, customer_email, customer_phone, issue_date, due_date, amount, amount_paid, status, description, notes, paid_at, issued_by_id) FROM stdin;
\.


--
-- Data for Name: finance_transaction; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: finance_transactioncategory; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: inventory_stockitem; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: inventory_stockmovement; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: processed_materials_processedmaterial; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: processed_materials_processedmaterialbatch; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.processed_materials_processedmaterialbatch (id, created_at, updated_at, batches, quantity_produced, cost, scheduled_for, completed_at, notes, processed_material_id, created_by_id) FROM stdin;
\.


--
-- Data for Name: processed_materials_processedmaterialrecipeitem; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: processed_materials_processedmaterialstock; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: processed_materials_processedmaterialstockmovement; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: processed_materials_productprocessedmaterialusage; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: production_productionrun; Type: TABLE DATA; Schema: public; Owner: adminator
--



--
-- Data for Name: sales_sale; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.sales_sale (created_at, updated_at, id, receipt_number, occurred_at, channel, payment_method, customer_name, customer_phone, subtotal, discount, total, cost_of_goods, notes, served_by_id) FROM stdin;
\.


--
-- Data for Name: sales_saleitem; Type: TABLE DATA; Schema: public; Owner: adminator
--

COPY public.sales_saleitem (created_at, updated_at, id, quantity, unit_price, unit_cost, line_total, product_id, sale_id) FROM stdin;
\.


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 116, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 29, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: adminator
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 32, true);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: catalog_product catalog_product_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_pkey PRIMARY KEY (id);


--
-- Name: catalog_product catalog_product_sku_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_sku_key UNIQUE (sku);


--
-- Name: catalog_productcategory catalog_productcategory_name_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_productcategory
    ADD CONSTRAINT catalog_productcategory_name_key UNIQUE (name);


--
-- Name: catalog_productcategory catalog_productcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_productcategory
    ADD CONSTRAINT catalog_productcategory_pkey PRIMARY KEY (id);


--
-- Name: catalog_rawmaterial catalog_rawmaterial_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_rawmaterial
    ADD CONSTRAINT catalog_rawmaterial_pkey PRIMARY KEY (id);


--
-- Name: catalog_rawmaterial catalog_rawmaterial_sku_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_rawmaterial
    ADD CONSTRAINT catalog_rawmaterial_sku_key UNIQUE (sku);


--
-- Name: catalog_recipeitem catalog_recipeitem_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_recipeitem
    ADD CONSTRAINT catalog_recipeitem_pkey PRIMARY KEY (id);


--
-- Name: catalog_supplier catalog_supplier_name_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_supplier
    ADD CONSTRAINT catalog_supplier_name_key UNIQUE (name);


--
-- Name: catalog_supplier catalog_supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_supplier
    ADD CONSTRAINT catalog_supplier_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: finance_asset finance_asset_linked_expense_id_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_asset
    ADD CONSTRAINT finance_asset_linked_expense_id_key UNIQUE (linked_expense_id);


--
-- Name: finance_asset finance_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_asset
    ADD CONSTRAINT finance_asset_pkey PRIMARY KEY (id);


--
-- Name: finance_budget finance_budget_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_budget
    ADD CONSTRAINT finance_budget_pkey PRIMARY KEY (id);


--
-- Name: finance_expense finance_expense_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_pkey PRIMARY KEY (id);


--
-- Name: finance_expensecategory finance_expensecategory_name_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expensecategory
    ADD CONSTRAINT finance_expensecategory_name_key UNIQUE (name);


--
-- Name: finance_expensecategory finance_expensecategory_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expensecategory
    ADD CONSTRAINT finance_expensecategory_pkey PRIMARY KEY (id);


--
-- Name: finance_invoice finance_invoice_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_invoice
    ADD CONSTRAINT finance_invoice_invoice_number_key UNIQUE (invoice_number);


--
-- Name: finance_invoice finance_invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_invoice
    ADD CONSTRAINT finance_invoice_pkey PRIMARY KEY (id);


--
-- Name: finance_transaction finance_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_pkey PRIMARY KEY (id);


--
-- Name: finance_transactioncategory finance_transactioncategory_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_transactioncategory
    ADD CONSTRAINT finance_transactioncategory_pkey PRIMARY KEY (id);


--
-- Name: inventory_stockitem inventory_stockitem_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockitem
    ADD CONSTRAINT inventory_stockitem_pkey PRIMARY KEY (id);


--
-- Name: inventory_stockitem inventory_stockitem_product_id_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockitem
    ADD CONSTRAINT inventory_stockitem_product_id_key UNIQUE (product_id);


--
-- Name: inventory_stockitem inventory_stockitem_raw_material_id_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockitem
    ADD CONSTRAINT inventory_stockitem_raw_material_id_key UNIQUE (raw_material_id);


--
-- Name: inventory_stockmovement inventory_stockmovement_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovement_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_processedmaterial processed_materials_processedmaterial_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterial
    ADD CONSTRAINT processed_materials_processedmaterial_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_processedmaterialstock processed_materials_processedmaterial_processed_material_id_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstock
    ADD CONSTRAINT processed_materials_processedmaterial_processed_material_id_key UNIQUE (processed_material_id);


--
-- Name: processed_materials_processedmaterial processed_materials_processedmaterial_sku_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterial
    ADD CONSTRAINT processed_materials_processedmaterial_sku_key UNIQUE (sku);


--
-- Name: processed_materials_processedmaterialbatch processed_materials_processedmaterialbatch_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialbatch
    ADD CONSTRAINT processed_materials_processedmaterialbatch_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_processedmaterialrecipeitem processed_materials_processedmaterialrecipeitem_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialrecipeitem
    ADD CONSTRAINT processed_materials_processedmaterialrecipeitem_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_processedmaterialstock processed_materials_processedmaterialstock_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstock
    ADD CONSTRAINT processed_materials_processedmaterialstock_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_processedmaterialstockmovement processed_materials_processedmaterialstockmovement_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstockmovement
    ADD CONSTRAINT processed_materials_processedmaterialstockmovement_pkey PRIMARY KEY (id);


--
-- Name: processed_materials_productprocessedmaterialusage processed_materials_productprocessedmaterialusage_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_productprocessedmaterialusage
    ADD CONSTRAINT processed_materials_productprocessedmaterialusage_pkey PRIMARY KEY (id);


--
-- Name: production_productionrun production_productionrun_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.production_productionrun
    ADD CONSTRAINT production_productionrun_pkey PRIMARY KEY (id);


--
-- Name: sales_sale sales_sale_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_sale
    ADD CONSTRAINT sales_sale_pkey PRIMARY KEY (id);


--
-- Name: sales_sale sales_sale_receipt_number_key; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_sale
    ADD CONSTRAINT sales_sale_receipt_number_key UNIQUE (receipt_number);


--
-- Name: sales_saleitem sales_saleitem_pkey; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_saleitem
    ADD CONSTRAINT sales_saleitem_pkey PRIMARY KEY (id);


--
-- Name: finance_budget unique_budget_per_category_month; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_budget
    ADD CONSTRAINT unique_budget_per_category_month UNIQUE (category_id, month);


--
-- Name: processed_materials_productprocessedmaterialusage unique_product_pm; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_productprocessedmaterialusage
    ADD CONSTRAINT unique_product_pm UNIQUE (product_id, processed_material_id);


--
-- Name: catalog_recipeitem unique_product_raw_material; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_recipeitem
    ADD CONSTRAINT unique_product_raw_material UNIQUE (product_id, raw_material_id);


--
-- Name: finance_transactioncategory unique_tx_category_name_direction; Type: CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_transactioncategory
    ADD CONSTRAINT unique_tx_category_name_direction UNIQUE (name, direction);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: catalog_pro_categor_891fe8_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_pro_categor_891fe8_idx ON public.catalog_product USING btree (category_id, is_active);


--
-- Name: catalog_product_category_id_35bf920b; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_product_category_id_35bf920b ON public.catalog_product USING btree (category_id);


--
-- Name: catalog_product_created_at_ea90ae72; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_product_created_at_ea90ae72 ON public.catalog_product USING btree (created_at);


--
-- Name: catalog_product_sku_5c54c070_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_product_sku_5c54c070_like ON public.catalog_product USING btree (sku varchar_pattern_ops);


--
-- Name: catalog_productcategory_created_at_18b2828d; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_productcategory_created_at_18b2828d ON public.catalog_productcategory USING btree (created_at);


--
-- Name: catalog_productcategory_name_edcd1af3_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_productcategory_name_edcd1af3_like ON public.catalog_productcategory USING btree (name varchar_pattern_ops);


--
-- Name: catalog_rawmaterial_created_at_e4f64e0e; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_rawmaterial_created_at_e4f64e0e ON public.catalog_rawmaterial USING btree (created_at);


--
-- Name: catalog_rawmaterial_preferred_supplier_id_2b68c1df; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_rawmaterial_preferred_supplier_id_2b68c1df ON public.catalog_rawmaterial USING btree (preferred_supplier_id);


--
-- Name: catalog_rawmaterial_sku_514653c8_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_rawmaterial_sku_514653c8_like ON public.catalog_rawmaterial USING btree (sku varchar_pattern_ops);


--
-- Name: catalog_recipeitem_created_at_3b69ba6d; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_recipeitem_created_at_3b69ba6d ON public.catalog_recipeitem USING btree (created_at);


--
-- Name: catalog_recipeitem_product_id_0590a6ba; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_recipeitem_product_id_0590a6ba ON public.catalog_recipeitem USING btree (product_id);


--
-- Name: catalog_recipeitem_raw_material_id_8ce9e538; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_recipeitem_raw_material_id_8ce9e538 ON public.catalog_recipeitem USING btree (raw_material_id);


--
-- Name: catalog_supplier_created_at_8763ba21; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_supplier_created_at_8763ba21 ON public.catalog_supplier USING btree (created_at);


--
-- Name: catalog_supplier_name_20ee1678_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX catalog_supplier_name_20ee1678_like ON public.catalog_supplier USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: finance_ass_categor_592c2a_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_ass_categor_592c2a_idx ON public.finance_asset USING btree (category, purchase_date DESC);


--
-- Name: finance_ass_purchas_4dd2d2_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_ass_purchas_4dd2d2_idx ON public.finance_asset USING btree (purchase_date DESC);


--
-- Name: finance_ass_status_4b55be_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_ass_status_4b55be_idx ON public.finance_asset USING btree (status);


--
-- Name: finance_asset_created_at_56050406; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_asset_created_at_56050406 ON public.finance_asset USING btree (created_at);


--
-- Name: finance_asset_recorded_by_id_e5e71df8; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_asset_recorded_by_id_e5e71df8 ON public.finance_asset USING btree (recorded_by_id);


--
-- Name: finance_asset_supplier_id_530f1a21; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_asset_supplier_id_530f1a21 ON public.finance_asset USING btree (supplier_id);


--
-- Name: finance_budget_category_id_3ead498a; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_budget_category_id_3ead498a ON public.finance_budget USING btree (category_id);


--
-- Name: finance_budget_created_at_1677f01c; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_budget_created_at_1677f01c ON public.finance_budget USING btree (created_at);


--
-- Name: finance_exp_categor_e73405_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_exp_categor_e73405_idx ON public.finance_expense USING btree (category_id, incurred_on DESC);


--
-- Name: finance_exp_incurre_0adba9_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_exp_incurre_0adba9_idx ON public.finance_expense USING btree (incurred_on DESC);


--
-- Name: finance_expense_category_id_19b015b6; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expense_category_id_19b015b6 ON public.finance_expense USING btree (category_id);


--
-- Name: finance_expense_created_at_e6971008; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expense_created_at_e6971008 ON public.finance_expense USING btree (created_at);


--
-- Name: finance_expense_recorded_by_id_d3dcb51f; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expense_recorded_by_id_d3dcb51f ON public.finance_expense USING btree (recorded_by_id);


--
-- Name: finance_expense_supplier_id_be5267a8; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expense_supplier_id_be5267a8 ON public.finance_expense USING btree (supplier_id);


--
-- Name: finance_expensecategory_created_at_87857c9c; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expensecategory_created_at_87857c9c ON public.finance_expensecategory USING btree (created_at);


--
-- Name: finance_expensecategory_name_5049c457_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_expensecategory_name_5049c457_like ON public.finance_expensecategory USING btree (name varchar_pattern_ops);


--
-- Name: finance_inv_issue_d_6363c3_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_inv_issue_d_6363c3_idx ON public.finance_invoice USING btree (issue_date DESC);


--
-- Name: finance_inv_status_0e2dc8_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_inv_status_0e2dc8_idx ON public.finance_invoice USING btree (status, due_date);


--
-- Name: finance_invoice_created_at_a3f9662b; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_invoice_created_at_a3f9662b ON public.finance_invoice USING btree (created_at);


--
-- Name: finance_invoice_invoice_number_ddadaf76_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_invoice_invoice_number_ddadaf76_like ON public.finance_invoice USING btree (invoice_number varchar_pattern_ops);


--
-- Name: finance_invoice_issued_by_id_ce7efb4e; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_invoice_issued_by_id_ce7efb4e ON public.finance_invoice USING btree (issued_by_id);


--
-- Name: finance_tra_categor_06bfda_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_tra_categor_06bfda_idx ON public.finance_transaction USING btree (category_id, occurred_on DESC);


--
-- Name: finance_tra_directi_fa6c02_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_tra_directi_fa6c02_idx ON public.finance_transaction USING btree (direction, occurred_on DESC);


--
-- Name: finance_tra_occurre_b1b473_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_tra_occurre_b1b473_idx ON public.finance_transaction USING btree (occurred_on DESC);


--
-- Name: finance_transaction_category_id_f48294d6; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_transaction_category_id_f48294d6 ON public.finance_transaction USING btree (category_id);


--
-- Name: finance_transaction_created_at_74240523; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_transaction_created_at_74240523 ON public.finance_transaction USING btree (created_at);


--
-- Name: finance_transaction_recorded_by_id_ee34a345; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_transaction_recorded_by_id_ee34a345 ON public.finance_transaction USING btree (recorded_by_id);


--
-- Name: finance_transactioncategory_created_at_6833aa18; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX finance_transactioncategory_created_at_6833aa18 ON public.finance_transactioncategory USING btree (created_at);


--
-- Name: inventory_s_kind_4fef19_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_s_kind_4fef19_idx ON public.inventory_stockitem USING btree (kind);


--
-- Name: inventory_s_reason_748aca_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_s_reason_748aca_idx ON public.inventory_stockmovement USING btree (reason, created_at DESC);


--
-- Name: inventory_s_stock_i_73796c_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_s_stock_i_73796c_idx ON public.inventory_stockmovement USING btree (stock_item_id, created_at DESC);


--
-- Name: inventory_stockitem_created_at_8504c2bf; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_stockitem_created_at_8504c2bf ON public.inventory_stockitem USING btree (created_at);


--
-- Name: inventory_stockmovement_created_at_05b478ed; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_stockmovement_created_at_05b478ed ON public.inventory_stockmovement USING btree (created_at);


--
-- Name: inventory_stockmovement_created_by_id_9a39cb99; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_stockmovement_created_by_id_9a39cb99 ON public.inventory_stockmovement USING btree (created_by_id);


--
-- Name: inventory_stockmovement_stock_item_id_b77c1ea5; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX inventory_stockmovement_stock_item_id_b77c1ea5 ON public.inventory_stockmovement USING btree (stock_item_id);


--
-- Name: pm_batch_material_sched_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX pm_batch_material_sched_idx ON public.processed_materials_processedmaterialbatch USING btree (processed_material_id, scheduled_for DESC);


--
-- Name: pm_batch_sched_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX pm_batch_sched_idx ON public.processed_materials_processedmaterialbatch USING btree (scheduled_for DESC);


--
-- Name: pm_mov_reason_created_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX pm_mov_reason_created_idx ON public.processed_materials_processedmaterialstockmovement USING btree (reason, created_at DESC);


--
-- Name: pm_mov_stock_created_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX pm_mov_stock_created_idx ON public.processed_materials_processedmaterialstockmovement USING btree (stock_id, created_at DESC);


--
-- Name: processed_materials_proces_created_at_6dfaaeb8; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_created_at_6dfaaeb8 ON public.processed_materials_processedmaterialstockmovement USING btree (created_at);


--
-- Name: processed_materials_proces_created_at_c186b496; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_created_at_c186b496 ON public.processed_materials_processedmaterialrecipeitem USING btree (created_at);


--
-- Name: processed_materials_proces_created_by_id_742d28f0; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_created_by_id_742d28f0 ON public.processed_materials_processedmaterialstockmovement USING btree (created_by_id);


--
-- Name: processed_materials_proces_created_by_id_885dc6ee; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_created_by_id_885dc6ee ON public.processed_materials_processedmaterialbatch USING btree (created_by_id);


--
-- Name: processed_materials_proces_processed_material_id_421312d4; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_processed_material_id_421312d4 ON public.processed_materials_processedmaterialrecipeitem USING btree (processed_material_id);


--
-- Name: processed_materials_proces_processed_material_id_f8c1d565; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_processed_material_id_f8c1d565 ON public.processed_materials_processedmaterialbatch USING btree (processed_material_id);


--
-- Name: processed_materials_proces_raw_material_id_b8bfe981; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_raw_material_id_b8bfe981 ON public.processed_materials_processedmaterialrecipeitem USING btree (raw_material_id);


--
-- Name: processed_materials_proces_stock_id_6521415b; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_stock_id_6521415b ON public.processed_materials_processedmaterialstockmovement USING btree (stock_id);


--
-- Name: processed_materials_proces_sub_processed_material_id_99dc7284; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_proces_sub_processed_material_id_99dc7284 ON public.processed_materials_processedmaterialrecipeitem USING btree (sub_processed_material_id);


--
-- Name: processed_materials_processedmaterial_created_at_4aa1184f; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_processedmaterial_created_at_4aa1184f ON public.processed_materials_processedmaterial USING btree (created_at);


--
-- Name: processed_materials_processedmaterial_sku_c81690f3_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_processedmaterial_sku_c81690f3_like ON public.processed_materials_processedmaterial USING btree (sku varchar_pattern_ops);


--
-- Name: processed_materials_processedmaterialbatch_created_at_c707b009; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_processedmaterialbatch_created_at_c707b009 ON public.processed_materials_processedmaterialbatch USING btree (created_at);


--
-- Name: processed_materials_processedmaterialstock_created_at_3d8bb7b4; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_processedmaterialstock_created_at_3d8bb7b4 ON public.processed_materials_processedmaterialstock USING btree (created_at);


--
-- Name: processed_materials_produc_created_at_ce24a787; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_produc_created_at_ce24a787 ON public.processed_materials_productprocessedmaterialusage USING btree (created_at);


--
-- Name: processed_materials_produc_processed_material_id_4ad9d183; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_produc_processed_material_id_4ad9d183 ON public.processed_materials_productprocessedmaterialusage USING btree (processed_material_id);


--
-- Name: processed_materials_produc_product_id_b2036f5e; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX processed_materials_produc_product_id_b2036f5e ON public.processed_materials_productprocessedmaterialusage USING btree (product_id);


--
-- Name: production__product_cfed43_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production__product_cfed43_idx ON public.production_productionrun USING btree (product_id, scheduled_for DESC);


--
-- Name: production__schedul_97008e_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production__schedul_97008e_idx ON public.production_productionrun USING btree (scheduled_for DESC);


--
-- Name: production__status_169ffd_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production__status_169ffd_idx ON public.production_productionrun USING btree (status);


--
-- Name: production_productionrun_created_at_bf5b56a9; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production_productionrun_created_at_bf5b56a9 ON public.production_productionrun USING btree (created_at);


--
-- Name: production_productionrun_created_by_id_6dda9eba; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production_productionrun_created_by_id_6dda9eba ON public.production_productionrun USING btree (created_by_id);


--
-- Name: production_productionrun_product_id_752e64a3; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX production_productionrun_product_id_752e64a3 ON public.production_productionrun USING btree (product_id);


--
-- Name: sales_sale_channel_7df777_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_channel_7df777_idx ON public.sales_sale USING btree (channel, occurred_at DESC);


--
-- Name: sales_sale_created_at_bf202e70; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_created_at_bf202e70 ON public.sales_sale USING btree (created_at);


--
-- Name: sales_sale_occurre_63a7c8_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_occurre_63a7c8_idx ON public.sales_sale USING btree (occurred_at DESC);


--
-- Name: sales_sale_occurred_at_1a98cd52; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_occurred_at_1a98cd52 ON public.sales_sale USING btree (occurred_at);


--
-- Name: sales_sale_payment_e7f3ef_idx; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_payment_e7f3ef_idx ON public.sales_sale USING btree (payment_method, occurred_at DESC);


--
-- Name: sales_sale_receipt_number_564da946_like; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_receipt_number_564da946_like ON public.sales_sale USING btree (receipt_number varchar_pattern_ops);


--
-- Name: sales_sale_served_by_id_f78ef2a9; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_sale_served_by_id_f78ef2a9 ON public.sales_sale USING btree (served_by_id);


--
-- Name: sales_saleitem_created_at_42beb396; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_saleitem_created_at_42beb396 ON public.sales_saleitem USING btree (created_at);


--
-- Name: sales_saleitem_product_id_aeb6c9cd; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_saleitem_product_id_aeb6c9cd ON public.sales_saleitem USING btree (product_id);


--
-- Name: sales_saleitem_sale_id_56e67045; Type: INDEX; Schema: public; Owner: adminator
--

CREATE INDEX sales_saleitem_sale_id_56e67045 ON public.sales_saleitem USING btree (sale_id);


--
-- Name: unique_pm_raw_material; Type: INDEX; Schema: public; Owner: adminator
--

CREATE UNIQUE INDEX unique_pm_raw_material ON public.processed_materials_processedmaterialrecipeitem USING btree (processed_material_id, raw_material_id) WHERE (raw_material_id IS NOT NULL);


--
-- Name: unique_pm_sub_processed_material; Type: INDEX; Schema: public; Owner: adminator
--

CREATE UNIQUE INDEX unique_pm_sub_processed_material ON public.processed_materials_processedmaterialrecipeitem USING btree (processed_material_id, sub_processed_material_id) WHERE (sub_processed_material_id IS NOT NULL);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_product catalog_product_category_id_35bf920b_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_category_id_35bf920b_fk_catalog_p FOREIGN KEY (category_id) REFERENCES public.catalog_productcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_rawmaterial catalog_rawmaterial_preferred_supplier_i_2b68c1df_fk_catalog_s; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_rawmaterial
    ADD CONSTRAINT catalog_rawmaterial_preferred_supplier_i_2b68c1df_fk_catalog_s FOREIGN KEY (preferred_supplier_id) REFERENCES public.catalog_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_recipeitem catalog_recipeitem_product_id_0590a6ba_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_recipeitem
    ADD CONSTRAINT catalog_recipeitem_product_id_0590a6ba_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_recipeitem catalog_recipeitem_raw_material_id_8ce9e538_fk_catalog_r; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.catalog_recipeitem
    ADD CONSTRAINT catalog_recipeitem_raw_material_id_8ce9e538_fk_catalog_r FOREIGN KEY (raw_material_id) REFERENCES public.catalog_rawmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_asset finance_asset_linked_expense_id_26781dfb_fk_finance_expense_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_asset
    ADD CONSTRAINT finance_asset_linked_expense_id_26781dfb_fk_finance_expense_id FOREIGN KEY (linked_expense_id) REFERENCES public.finance_expense(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_asset finance_asset_recorded_by_id_e5e71df8_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_asset
    ADD CONSTRAINT finance_asset_recorded_by_id_e5e71df8_fk_accounts_user_id FOREIGN KEY (recorded_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_asset finance_asset_supplier_id_530f1a21_fk_catalog_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_asset
    ADD CONSTRAINT finance_asset_supplier_id_530f1a21_fk_catalog_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.catalog_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_budget finance_budget_category_id_3ead498a_fk_finance_e; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_budget
    ADD CONSTRAINT finance_budget_category_id_3ead498a_fk_finance_e FOREIGN KEY (category_id) REFERENCES public.finance_expensecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_expense finance_expense_category_id_19b015b6_fk_finance_e; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_category_id_19b015b6_fk_finance_e FOREIGN KEY (category_id) REFERENCES public.finance_expensecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_expense finance_expense_recorded_by_id_d3dcb51f_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_recorded_by_id_d3dcb51f_fk_accounts_user_id FOREIGN KEY (recorded_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_expense finance_expense_supplier_id_be5267a8_fk_catalog_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_supplier_id_be5267a8_fk_catalog_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.catalog_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_invoice finance_invoice_issued_by_id_ce7efb4e_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_invoice
    ADD CONSTRAINT finance_invoice_issued_by_id_ce7efb4e_fk_accounts_user_id FOREIGN KEY (issued_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_category_id_f48294d6_fk_finance_t; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_category_id_f48294d6_fk_finance_t FOREIGN KEY (category_id) REFERENCES public.finance_transactioncategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_recorded_by_id_ee34a345_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_recorded_by_id_ee34a345_fk_accounts_user_id FOREIGN KEY (recorded_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockitem inventory_stockitem_product_id_90083cf4_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockitem
    ADD CONSTRAINT inventory_stockitem_product_id_90083cf4_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockitem inventory_stockitem_raw_material_id_e237d371_fk_catalog_r; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockitem
    ADD CONSTRAINT inventory_stockitem_raw_material_id_e237d371_fk_catalog_r FOREIGN KEY (raw_material_id) REFERENCES public.catalog_rawmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovem_created_by_id_9a39cb99_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovem_created_by_id_9a39cb99_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovem_stock_item_id_b77c1ea5_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovem_stock_item_id_b77c1ea5_fk_inventory FOREIGN KEY (stock_item_id) REFERENCES public.inventory_stockitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialstockmovement processed_materials__created_by_id_742d28f0_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstockmovement
    ADD CONSTRAINT processed_materials__created_by_id_742d28f0_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialbatch processed_materials__created_by_id_885dc6ee_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialbatch
    ADD CONSTRAINT processed_materials__created_by_id_885dc6ee_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialrecipeitem processed_materials__processed_material_i_421312d4_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialrecipeitem
    ADD CONSTRAINT processed_materials__processed_material_i_421312d4_fk_processed FOREIGN KEY (processed_material_id) REFERENCES public.processed_materials_processedmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_productprocessedmaterialusage processed_materials__processed_material_i_4ad9d183_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_productprocessedmaterialusage
    ADD CONSTRAINT processed_materials__processed_material_i_4ad9d183_fk_processed FOREIGN KEY (processed_material_id) REFERENCES public.processed_materials_processedmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialstock processed_materials__processed_material_i_c522eb88_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstock
    ADD CONSTRAINT processed_materials__processed_material_i_c522eb88_fk_processed FOREIGN KEY (processed_material_id) REFERENCES public.processed_materials_processedmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialbatch processed_materials__processed_material_i_f8c1d565_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialbatch
    ADD CONSTRAINT processed_materials__processed_material_i_f8c1d565_fk_processed FOREIGN KEY (processed_material_id) REFERENCES public.processed_materials_processedmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_productprocessedmaterialusage processed_materials__product_id_b2036f5e_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_productprocessedmaterialusage
    ADD CONSTRAINT processed_materials__product_id_b2036f5e_fk_catalog_p FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialrecipeitem processed_materials__raw_material_id_b8bfe981_fk_catalog_r; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialrecipeitem
    ADD CONSTRAINT processed_materials__raw_material_id_b8bfe981_fk_catalog_r FOREIGN KEY (raw_material_id) REFERENCES public.catalog_rawmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialstockmovement processed_materials__stock_id_6521415b_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialstockmovement
    ADD CONSTRAINT processed_materials__stock_id_6521415b_fk_processed FOREIGN KEY (stock_id) REFERENCES public.processed_materials_processedmaterialstock(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: processed_materials_processedmaterialrecipeitem processed_materials__sub_processed_materi_99dc7284_fk_processed; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.processed_materials_processedmaterialrecipeitem
    ADD CONSTRAINT processed_materials__sub_processed_materi_99dc7284_fk_processed FOREIGN KEY (sub_processed_material_id) REFERENCES public.processed_materials_processedmaterial(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_productionrun production_productio_created_by_id_6dda9eba_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.production_productionrun
    ADD CONSTRAINT production_productio_created_by_id_6dda9eba_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_productionrun production_productio_product_id_752e64a3_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.production_productionrun
    ADD CONSTRAINT production_productio_product_id_752e64a3_fk_catalog_p FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sales_sale sales_sale_served_by_id_f78ef2a9_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_sale
    ADD CONSTRAINT sales_sale_served_by_id_f78ef2a9_fk_accounts_user_id FOREIGN KEY (served_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sales_saleitem sales_saleitem_product_id_aeb6c9cd_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_saleitem
    ADD CONSTRAINT sales_saleitem_product_id_aeb6c9cd_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sales_saleitem sales_saleitem_sale_id_56e67045_fk_sales_sale_id; Type: FK CONSTRAINT; Schema: public; Owner: adminator
--

ALTER TABLE ONLY public.sales_saleitem
    ADD CONSTRAINT sales_saleitem_sale_id_56e67045_fk_sales_sale_id FOREIGN KEY (sale_id) REFERENCES public.sales_sale(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 0p2qyCm3h1rUdoNKRI6jdjVR7965JnSonCwMsyQrG8WKU8MsBJfoBsOBqKMQCZp

